In [1]:
import pandas as pd
import numpy as np
import os
import glob

#  Load Data and Classify Success/Failure

In [5]:
df_combined = pd.read_csv(f"posebusters_results_filtered.csv")

/var/folders/bb/dyy85zps4_lg79d6g6g48ms00000gn/T/ipykernel_12122/3672615227.py:1: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  df_combined = pd.read_csv(f"posebusters_results_filtered.csv")

#

In [6]:
df_combined

,Unnamed: 0,mol_pred_loaded,mol_true_loaded,mol_cond_loaded,sanitization,inchi_convertible,all_atoms_connected,molecular_formula,molecular_bonds,double_bond_stereochemistry,...,volume_overlap_waters,rmsd,kabsch_rmsd,centroid_distance,score,method,protein,rank,rmsd_≤_1å,rmsd_≤_5å
0,0.0,True,True,True,True,True,True,True,True,True,...,NaN,11.324258,0.210093,10.981022,-5.042580,icm,7ZDY_6MJ,1,False,False
1,1.0,True,True,True,True,True,True,True,True,True,...,NaN,5.938732,1.042528,5.341201,-3.135183,icm,7ZDY_6MJ,2,False,False
2,2.0,True,True,True,True,True,True,True,True,True,...,NaN,5.058795,1.048952,4.468060,7.113613,icm,7ZDY_6MJ,3,False,False
3,3.0,True,True,True,True,True,True,True,True,True,...,NaN,0.507793,0.183477,0.406343,10.231662,icm,7ZDY_6MJ,4,True,True
4,4.0,True,True,True,True,True,True,True,True,True,...,NaN,2.636242,0.245755,0.669323,19.209082,icm,7ZDY_6MJ,5,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9240,NaN,True,True,True,True,True,True,True,True,True,...,NaN,1.029755,0.988415,0.274201,303.990020,surfdock,7D6O_MTE,1,False,True
9241,NaN,True,True,True,True,True,True,True,True,True,...,NaN,0.950634,0.923147,0.181144,269.362194,surfdock,7D6O_MTE,2,True,True
9242,NaN,True,True,True,True,True,True,True,True,True,...,NaN,0.972391,0.936665,0.163980,264.568830,surfdock,7D6O_MTE,3,True,True
9243,NaN,True,True,True,True,True,True,True,True,True,...,NaN,1.019317,0.888851,0.297793,251.688116,surfdock,7D6O_MTE,4,False,True
9244,NaN,True,True,True,True,True,True,True,True,True,...,NaN,0.904545,0.864412,0.219240,248.058655,surfdock,7D6O_MTE,5,True,True